@charset "utf-8";

.margin{width:1190px;margin:0 auto;}
a{cursor: pointer;}
#head{background: #f2f2f2;}
#head{width: 1423px;height:30px;border-top: 1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;}
#head a:hover{color:#b91c2b;}
#head img{display: none;}
#head .imgbox{position: relative;}
#head .imgbox:hover{background: #fff;padding:10px 0px;}
#head .imgbox:hover+.img1{display: block;left: 322px;}
#head .img1{position: absolute;}
#head .margin{display: flex;justify-content: space-between;}
#head .headleft{margin: 8px 3px;}
#head .headright{margin: 8px 3px;}

#logo{height: 113px;background:#fff;}
#logos .logoleft{float: left;margin:30px 0}
#logos .logoright{float: right;border:1px solid #d7d7d7;margin: 28px 0 40px 0;}
#logos input{line-height: 37px;width: 210px;height:37px;outline: medium;}
#logos .logoright img{height: 23px;width:22px;padding: 7px 7px;border-left: none;display: block;}

#foot{text-align: center;}
#foot .foottop{background:#f6f6f6;}
#foot .foottop ul{text-align: center;padding: 39px auto;margin-top: 20px;height: 135px;padding-top: 40px;}
#foot .foottop ul li{float: left;height: 80px;width: 180px;}
#foot .foottop ul .line{border-left: 1px solid #ddd;float: left;height: 80px;font-size:14px;width: 1px;}
#foot .foottop ul li:nth-child(11){width: 190px;height: 120px;}
#foot .foottop ul li p{width: 180px;height: 19px;margin-top: 14px;}
#foot .foottop ul li span{width: 190px;font:12px/16px "";color: #a1a1a1;}

#foot .footbot{border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;}
#foot .footbot .margin{text-align: center;height: 112px;width: 1190px;margin-top: 10px;}
#foot .footbot .margin .nav{float: left;height:88px ;width: 168px;}
#foot .footbot .margin .nav ul li{line-height: 24px;color: #969696;cursor: pointer;}
#foot .footbot .margin .nav ul li:hover{color: #b91c2b;}
#foot .footbot .margin .line{border-left: 1px solid #ddd;float: left;height: 80px;font-size:14px;width: 1px;} 

#friend{width: 1423px;height: 160px;}
#friend .friendlink{height: 32px;margin-top: 20px;}
#friend .friendlink i{color: #999;margin: 0 8px 12px 0;font: 12px/16px "";}
#friend .friendlink i:hover{color: #b91c2b;}
#friend .permit{text-align: center;color: #999;font: 12px/16px "";margin-top: 32px;}
